
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogerinos</title>
</head>
<body>
    <form>
        <label for="author">Author</label>
        <input type="text" name="author"/>
        
        <label for="date">Date</label>
        <input type="date" name="date"/>

        <label for="text">Text</label>
        <input type="text" name="text"/>

        <button type="submit">Hello there</button>
    </form>
</body>
</html>