{% extends 'base.html' %}
{% block content %}
    <form method="post" class="create-form">
        <label for="text">Text:</label>
        <input type="text" name="text">

        <input type="submit", name="create-post", value="Create post">
    </form>
    <form method="post" class="get-all-form">
        <input type="submit" name="get-all" value="Get all">
    </form>
    <form method="post" class="get-id-form">
        <label for='id'>ID:</label>
        <input type="number" name="id">

        <input type="submit" name="get-post", value="Get post">
    </form>
    <form method="post" class="delete-id-form">
        <label for='id'>ID:</label>
        <input type="number" name="id">

        <input type="submit" name="delete-post", value="Delete post">
    </form>
    <form method="post" class="patch-id-form">
        <label for='id'>ID:</label>
        <input type="number" name="id">

        <label for="new-text">New text:</label>
        <input type="text" name="new-text">

        <input type="submit" name="patch-post", value="Patch post">
    </form>
    <div class="output">
        {% for result in results %}
            <div>{{ result }}</div>
        {% endfor %}
    </div>
{% endblock %}